generated
target
project/target
test_run_dir
.bsp
*.hex
*.asc
*.bin
*.mem
*.json
*.o
*.vcd
*_out.config
*.bit
*.dfu
*.list
*.elf

# Scala IDEs
.project
.classpath
.settings
.idea
*.iml
/*.bsp/

.bloop/
.metals/
.vscode/

*.swp

.DS_Store

conf.mk
todo.txt
notes.txt

.verilator
